.city_suggestions {
  position: absolute;
  top: 220px;
  width: 95vw;
  max-width: 280px;
}

.header {
  height: 40.5vh;
  background-color: #003580;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: relative;
  max-height: 300px;
}

.header_notList {
  height: 20.6vh;
  background-color: #003580;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.icon-wrapper {
  padding: 12px;
}

.icon-name {
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

.icon-style {
  color: white;
  font-size: 20px;
}

.input-field::placeholder {
  font-size: 13px;
}

.stays-icon-style {
  margin-top: -5px;
  border: 1px solid white;
  padding: 6px;
  border-radius: 45px;
}

.input-icon-style {
  color: grey;
}

.signin-btn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.search-btn {
  background-color: #0071c2;
  color: white;
  border: none;
  cursor: pointer;
  height: 28px;
  font-size: 14px;
}

.header-input-contianer {
  position: absolute;
  top: 20.5vh;
  left: 1vw;
  width: max-content;
}

.input-field {
  border: none;
  outline: none;
  font-weight: 500;
  margin: 5px;
  flex: 1;
}

.input-field-container {
  border: 3px solid gold;
  height: 40px;
  width: max-content;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.datePicker {
  position: absolute;
  bottom: -356px;
  left: 30vw;
  border: 1.5px solid gold;
}

.SelectingPeople {
  position: absolute;
  bottom: -126px;
  left: 69vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.8px solid gold;
  background-color: white;
}

.optionsItem {
  background-color: white;
  width: 22vw;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.optoonsCountContainer {
  display: flex;
  align-items: center;
  gap: 7px;
}

.btnStyle {
  background-color: white;
  border: 1px solid #0071c2;
  color: #0071c2;
}

.btnStyle:disabled {
  cursor: not-allowed;
}

.input_align_style {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* after modification */

@media (max-width: 299px) {
  .header {
    height: 40.5vh;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    max-height: 230px;
    margin-bottom: 75px;
  }

  .category_scroll {
    overflow-x: scroll;
  }

  .category_scroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .category_scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .header-input-contianer {
    position: absolute;
    top: 45.9vh;
    left: 13vw;
  }
  .input-field-container {
    border: 3px solid #ffb700;
    height: max-content;
    width: 94vw;
    background-color: #ffb700;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    padding: 2px;
    border-radius: 6px;
    /* overflow: scroll; */
  }
  .input_align_style {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border: 2px solid #ffb700;
    border-radius: 6px;
    width: 100%;
    padding: 0 10px;
  }

  .input-field {
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-weight: 500;
    margin: 11px;
    overflow-x: scroll;
    flex: 1 1;
    max-width: 169px !important;
  }
  .city_suggestions {
    position: absolute;
    top: 160px;
    width: 70vw;
    left: 20px;
    max-width: 250px;
  }

  .SelectingPeople {
    width: max-content;
    position: absolute;
    bottom: -150px;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.8px solid gold;
    background-color: white;
    min-width: 150px;
  }
  .optionsItem {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }
  .rdrCalendarWrapper {
    color: #000000;
    font-size: 11px !important;
  }

  .datePicker {
    position: absolute;
    bottom: -380px;
    left: 2vw;
    border: 2px solid gold;
    max-width: 100%;
  }
  #search {
    margin-top: 4px;
  }
  .search-btn {
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
  }
}

@media (min-width: 300px) and (max-width: 376px) {
  .header {
    height: 40.5vh;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    max-height: 230px;
    margin-bottom: 75px;
  }

  .category_scroll {
    overflow-x: scroll;
  }

  .category_scroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .category_scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .header-input-contianer {
    position: absolute;
    top: 45.9vh;
    left: 13vw;
  }
  .input-field-container {
    border: 3px solid #ffb700;
    height: max-content;
    width: 94vw;
    background-color: #ffb700;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    padding: 2px;
    border-radius: 6px;
    /* overflow: scroll; */
  }
  .input_align_style {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border: 2px solid #ffb700;
    border-radius: 6px;
    width: 100%;
    padding: 0 10px;
  }
  .input-field {
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-weight: 500;
    margin: 11px;
    flex: 1;
  }
  .city_suggestions {
    position: absolute;
    top: 147px;
    width: 88vw;
    max-width: 300px;
  }

  .SelectingPeople {
    width: max-content;
    position: absolute;
    bottom: -150px;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.8px solid gold;
    background-color: white;
    min-width: 150px;
  }
  .optionsItem {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }
  .rdrCalendarWrapper {
    color: #000000;
    font-size: 11px !important;
  }

  .datePicker {
    position: absolute;
    bottom: -380px;
    left: 2vw;
    border: 2px solid gold;
    max-width: 100%;
  }
  #search {
    margin-top: 4px;
  }
  .search-btn {
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
  }
}

@media (min-width: 380px) and (max-width: 575px) {
  /* .header-input-contianer {
    display: none;
  } */
  .header {
    height: 40.5vh;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    max-height: 230px;
  }

  .header-input-contianer {
    position: absolute;
    top: 45.9vh;
    left: 13vw;
  }

  .category_scroll {
    overflow-x: scroll;
  }
  .input-field-container {
    border: 3px solid #ffb700;
    height: max-content;
    width: 100vw;
    background-color: #ffb700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2px;
    border-radius: 4px;
  }

  .input_align_style {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border: 2px solid #ffb700;
    border-radius: 6px;
    width: 100%;
    padding: 0px 10px;
  }
  .input-field {
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-weight: 500;
    margin: 11px;
    flex: 1;
  }
  .city_suggestions {
    position: absolute;
    top: 62%;
    width: 87vw;
    max-width: 400px;
  }
  .SelectingPeople {
    width: max-content;
    position: absolute;
    bottom: -100px;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.8px solid gold;
    background-color: white;
    min-width: 150px;
  }
  .optionsItem {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }

  .datePicker {
    position: absolute;
    bottom: -356px;
    left: 10vw;
    border: 1.5px solid gold;
  }
  #search {
    margin-top: 4px;
  }
  .search-btn {
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header {
    height: 21vh;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    max-height: 300px;
    margin-bottom: 60px;
  }
  .category_scroll {
    overflow-x: scroll;
  }
  .input-field-container {
    border: 3px solid #ffb700;
    height: max-content;
    width: 90vw;
    background-color: #ffb700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2px;
    border-radius: 4px;
  }

  .input_align_style {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border: 2px solid #ffb700;
    border-radius: 6px;
    width: 100%;
    padding: 0px 10px;
  }
  .input-field {
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-weight: 500;
    margin: 11px;
    flex: 1;
  }
  .city_suggestions {
    position: absolute;
    top: 178px;
    width: 95vw;
    max-width: 250px;
  }
  #search {
    margin-top: 4px;
  }
  .search-btn {
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    height: 34px;
    font-size: 12px;
    border-radius: 3px;
    flex: 1;
    margin-top: 0px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 26.6vh !important;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    max-height: 230px;
  }
  .header-input-contianer {
    position: absolute;
    top: 30.5vh;
    left: 1vw;
  }
  .icon-wrapper:hover {
    background-color: #e2e2e2;
    border-radius: 12px;
  }
  .input-field-container {
    border: 3px solid gold;
    height: 50px;
    width: 100vw;
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
    border-radius: 4px;
  }

  .input_align_style {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid gold;
    padding: 0px 4px;
    border-radius: 4px;
    gap: 3px;
  }
  .input-field {
    border: none;
    outline: none;
    font-weight: 500;
    margin: 5px 0;
    flex: 1;
  }
  /* .city_suggestions {
    position: absolute;
    top: 178px;
    width: 95vw;
    max-width: 250px;
  } */
  .city_suggestions {
    position: absolute;
    top: 195px;
    width: 95vw;
    max-width: 250px;
  }
  .search-btn {
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    height: 34px;
    font-size: 12px;
    border-radius: 3px;
    flex: 1;
    margin-top: 0px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    height: 26.6vh !important;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    max-height: 230px;
  }
  .header-input-contianer {
    position: absolute;
    top: 30vh;
    left: 13vw;
  }

  /* .input-field-container {
    border: 3px solid gold;
    height: 40px;
    width: max-content;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  .input-field {
    border: none;
    font-weight: 500;
    margin: 11px;
  } */
  .input-field-container {
    border: 3px solid gold;
    height: 50px;
    width: max-content;
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
    border-radius: 4px;
  }

  .input_align_style {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid gold;
    padding: 0px 4px;
    border-radius: 4px;
    gap: 10px;
  }
  .input-field {
    border: none;
    outline: none;
    font-weight: 500;
    margin: 5px 0;
    flex: 1;
  }
  .city_suggestions {
    position: absolute;
    top: 205px;
    width: 95vw;
    max-width: 250px;
  }

  .search-btn {
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 34px;
    font-size: 12px;
    border-radius: 3px;
    flex: 1;
    margin-top: 0px !important;
  }
  .SelectingPeople {
    position: absolute;
    bottom: -126px;
    left: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.8px solid gold;
    background-color: white;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .header {
    height: 26.6vh !important;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    max-height: 230px;
  }

  .header_notList {
    height: 16.6vh;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  .header-input-contianer {
    position: absolute;
    top: 29.6vh;
    left: 24vw;
  }
  /* .input-field-container {
    border: 3px solid gold;
    height: 52px;
    width: max-content;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  .input-field {
    border: none;
    margin-left: 6px;
    font-weight: 500;
    margin: 11px;
    margin-left: 5px;
    padding: 4px;
  } */

  .input-field-container {
    border: 3px solid gold;
    height: 50px;
    width: max-content;
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
    border-radius: 4px;
  }

  .input_align_style {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid gold;
    padding: 0px 4px;
    border-radius: 4px;
    gap: 10px;
  }
  .input-field {
    border: none;
    outline: none;
    font-weight: 500;
    margin: 5px 0;
    flex: 1;
  }
  .city_suggestions {
    position: absolute;
    top: 195px;
    width: 95vw;
    max-width: 250px;
  }

  .search-btn {
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 34px;
    font-size: 12px;
    border-radius: 3px;
    flex: 1;
    margin-top: 0px !important;
  }
  .optionsItem {
    background-color: white;
    width: 12vw !important;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }
  .SelectingPeople {
    position: absolute;
    bottom: -126px;
    left: 63vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.8px solid gold;
    background-color: white;
  }
  .datePicker {
    position: absolute;
    bottom: -356px;
    left: 30vw;
    border: 1.5px solid gold;
  }
}

@media (min-width: 2000px) {
  .header-input-contianer {
    position: absolute;
    top: 22.5vh;
    left: 26vw;
  }

  .input-field-container {
    border: 3px solid gold;
    height: 70px;
    max-width: 40vw;
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5 15px;
    gap: 4px;
  }
  .input_align_style {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid gold;
    padding: 0px 4px;
    border-radius: 4px;
    gap: 2px;
  }
  .input-field {
    border: none;
    outline: none;
    margin-left: 6px;
    font-weight: 500;
    margin: 11px;
  }
  .search-btn {
    background-color: #0071c2;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    flex: 1;
    margin-top: 0px !important;
  }

  .header {
    height: 20.6vh !important;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    max-height: 260px;
  }
  .header_notList {
    height: 13.6vh;
    background-color: #003580;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  .city_suggestions {
    position: absolute;
    top: 235px;
    width: 95vw;
    max-width: 280px;
  }

  .SelectingPeople {
    position: absolute;
    bottom: -126px;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.8px solid gold;
    background-color: white;
  }
  .datePicker {
    position: absolute;
    bottom: -356px;
    left: 55vh;
    border: 1.5px solid gold;
  }
}
