.map-container {
  width: 100% !important;
  height: 500px;
  display: flex;
  justify-content: center;
}

.google-map-hover-boxinfo {
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
}

/* @media (max-width: 576px) {
  .map-container {
    width: 74% !important;
    height: max-content !important;
    margin: auto;
    display: flex;
  justify-content: center;
  
}
} */
